<section class="background-index textbody backmask fontGlory300 ">
		<div class="text-center text-light p-5  my-auto">
			<h1 class="text-center text-light p-5">¡Viví el Espectáculo!
			</h1>
			<h2 class="text-center text-light p-3">Descubrí, Adquirí, <br><span class="fontMalisemibold600 my20 ">Disfrutá</span>
			</h2>
			<h2 class="text-center text-light p-2">Todas las funciones
			</h2>

		</div>	
	</section>