<section class="background-index textbody backmask fontGlory300 ">
		<div class="text-center text-light p-5">
			<h1 class="text-center text-light p-5 custom-heading fontMalisemibold600">¡Viví el Espectáculo!
			</h1>
			<h2 class="text-center text-light p-3 fontMalisemibold600">Descubrí, Adquirí, <br><span class="fontMalisemibold600 my20 ">Disfrutá</span>
			</h2>
			<h2 class="text-center text-light fontMalisemibold600 p-1">Todas las funciones
			</h2>

		</div>	
	</section>