
<body>
    <div class="main-container d-flex justify-content-center align-items-center align-content-center vh-100">
        <div class="login-box">
            <h2>Login</h2>
			<p class="register">{{mensaje}}</p>
            <form id="login-form" action="/auth/login" method="post">
                <div class="user-box">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Usuario</label>
                </div>
                <div class="user-box">
                    <input type="password" id="clave" name="clave" required>
                    <label for="clave">Contraseña</label>
                </div>
                <div class="button-form">
                    <input type="submit" id="submit" name="submit" value="Enviar">
                </div>
                <div class="register" id="register">
                    ¿No tienes cuenta?
                    <a href="/auth/register">Regístrate</a>
                </div>
            </form>
        </div>
    </div>
</body>

