<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylebox.css">
    <script src="scriptLogin.js"></script>
	<title>Login</title>
</head>
<body>
	<div class="main-container">
		{{#if !Logueado}}
			{{>login}}
		{{/if}}
		{{#if !Registrado}}
			{{>registro}}
		{{/if}}
	</div>
</body>
   {{> footer}}
</body>
</html>